body {
  background-color: #fbfefd;
  margin: 0; 
  padding: 0; 

}

.app-container {
  text-align: center; 
  width: 100%;
  margin: auto;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #bed1ee;
  z-index: 1000; 
  padding: 1rem 0;
}

.content-container {
  display: flex; 
  padding-top: 60px; 
  width: 100%;
  box-sizing: border-box;
}

.main-content, .heart-beat {
  flex: 1; 
  padding: 2rem; 
  background-color: #fbfefd; 
}