body {
  background-color: #fbfefd;
}

.app-container {
  text-align: center;
  width: 100%;
 
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #bed1ee;
  z-index: 1000; 
  padding: 1rem 0;
}

.main-content {
  margin-top: 100px; 
  background-color: #fbfefd; 
  padding: 2rem;
}