.header {
    background-color: #bed1ee;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1{
    margin: 10px;
  }

  .logo {
    height: 80px; 
    width: auto; 
    display: block; 
    margin: 0 auto;
    
}

