.main-container {
    padding: 20px;
    background-color: #d4d5ef; 
    border-radius: 8px;
    width: 350px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.title {
    color: #b0b1ed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.02);
}

.placeholder {
    color: black;
}

.form-label, .form-text {
    display: block;
    margin: 10px 0;
    color: #8587e6;
    font-size: 16px;
}


.input-field, .form-text-field {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid #bebfee; 
    box-sizing: border-box;
    background-color: #fbfefd; 
    color: #333; 
}

.input-field:focus {
    border-color: #0056b3; 
    outline: none;
}

.input-field:hover {
    border-color: #bebfee;
}